<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collab</title>
</head>
<body>
<h1>Your rooms</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Initialized</th>
            <th>Last comment</th>
            <th>Public</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h2>Create new message</h2>
    <form>
        <label for="title">Title</label><br>
        <input id="title"><br>
        <label for="comment">Opening comment</label><br>
        <input id="comment"><br>
        <input type="checkbox" id="private">
        <label for="private">Private</label><br>
        <button>Submit</button>
    </form>
</div>
</body>
</html>