<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
</head>
<body>
<h1>Room</h1>
<div>
  <table>
    <thead>
    <tr>
      <th>Nr</th>
      <th>User</th>
      <th>Comment</th>
      <th>Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
      <td th:text="${message.number}"></td>
      <td th:text="${message.user}"></td>
      <td th:text="${message.comment}"></td>
      <td th:text="${message.timeStamp}"></td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <form action="/room" method="post">
    <label for="user">User</label>
    <input id="user" name="user" type="text"><br>
    <textarea name="comment" rows="10" cols="30">
    </textarea>
    <br>
    <button>Send</button>
  </form>
</div>
</body>
</html>